/** Page Header */

.page-head{
  background-color: #f9f9f9;
  padding: 1em;
}

.site-logo{
  @include font-size(30px);
  margin-bottom: .5em;
  display: inline-block;
}

.site-nav{
  list-style: none;

  li{
    display: inline-block;
    background-color: #999;
    padding:.2em .5em;
    margin-right: .5em;

    a{
      color: #fff;
    }
  }

  li:hover{
    background-color: #ff6600;
  }

  li.selected{
    background-color: #333;
  }
}