<footer class="page-foot">
    <p>Images courtesy of <a href="http://mikekus.com">Mike Kus</a>. View the source on <a href="https://github.com/neilkinnish/Mixture-Ajax-Example">GitHub</a>.</p>
</footer>