<header class="page-head">
  <a href="/" class="site-logo">Example</a>
  <ul class="site-nav">
    <li{% if mixture.url == "about" %} class="selected"{% endif %}><a href="/about">About</a></li>
    <li{% if mixture.url == "contact" %} class="selected"{% endif %}><a href="/contact">Contact</a></li>
  </ul>
</header>