/** Mixins */

// Font Size
@mixin font-size($font-size){
    font-size: $font-size;
    font-size: ($font-size / $base-font-size)*1rem;
    line-height: ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
}

// Media Query Mixins: https://github.com/sturobson/sassifaction
@mixin mq($point, $IE9: false, $query1: min, $query2: width){
  @if $IE9 == true{
    .lt-ie9 & {
      @content;
    }
  }

  @media (#{$query1}-#{$query2}: $point / 16 +em){
    @content;
  }
}

@mixin orient($orientation: landscape){
  @media (orientation : $orientation){
    @content;
  }
}